name: "【Docker】Ruby on Rails CI"
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  run-test:
    name: Run Test
    runs-on: ubuntu-latest
    steps:
    - name: checkout pushed commit
      uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: run test on docker-compose
      run: |
        docker-compose build
        docker-compose run --rm web bin/setup
        docker-compose run --rm web bundle exec rubocop
